

@mixin nav{
    height:200px;
 

}

@mixin background{
    background-repeat: no-repeat;
    background-size:100%;
    flex-basis:100%;
}

div{
    margin:auto;
    max-width:1440px;
}

.nav-logo{
   @include nav; 
   flex-basis:20%;
}

.nav-bar{
    @include nav;
    flex-basis:80%;
    
}



#logo-img{
    flex-basis:20%;
    height:100%;
    border:0px solid black;

}

ul{
    list-style-type:none;
}

ul li{
    display:inline;
}

ul li:first-child{
    margin-left:400px;
}

ul li:last-child{
    padding:4px;
    background-color:black;
    color:white;
}

ul li a{
    text-decoration:none;
    color:black;
    font-weight:bold;
    font-family:'Roboto Condensed', sans-serif;;
    padding:9px;
    font-size:1.4em;
    line-height:270px;
}

ul li a:visited{
    color:black;
}

.header-img{
    background:url("images/header.jpg");
    height:650px;
    @include background;
}

.header-cover{
    background-color:rgba(11,11,12,0.4);
    flex-basis:100%;
    height:650px;
}

.header-cover p{
    color:#fff6fc;
    font-weight:bolder;
    margin-top:325px;
    text-align:center;
    font-size:3em;
}

.books,.join{
    flex-basis:50%;
    height:200px;
}

.books p,.join p{
        text-align:center;
}

.books p a, .join p a{
    text-decoration:none;
    color:white;
    padding:8px;
    background-color:rgb(11,11,12);
    font-size:1.33em;
}

#dropdown{
    display:none;
}

#nav{
    display:none;
}
