@import "header";
@import "aboutus";
@import "resources";
@import "footer";


@mixin flex-center{
    display:flex;
    flex-flow:row nowrap;
}

*{
    font-size:16px;
    font-family:Arial;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    background-color:#fff6fc;
}
div {
    border:0px solid black;
}


.container{
    @include flex-center;
}

.nav-bar img{
    display:none;
}

@media only screen and (min-width:50px) and (max-width:319px){
    div{
        margin:0 auto;
        width:375px;
    }
}

@media only screen and (min-width:320px) and (max-width:374px){
    div{
        border:0px solid black;
    }

    ul{
        display:none;
    }

    .nav-bar{
        position:relative;
        position:inline-block;
    }
    
    .nav-bar-dropdown {
        position:absolute;
        margin-top:205px;
        background-color:#fff6fc;
        width:93%;
        height:250px;
        z-index:1;
    }
    
    #dropdown{
        display:none;
    }
    
    .nav-bar-dropdown p {
      text-align:center;
    }
    
    .nav-bar-dropdown p a{
    text-decoration:none;
    color:black;
    font-size:1em;
    }
    
    .nav-bar-dropdown p a:visited{
      color:black;
    }
    
    .nav-bar-dropdown p a:hover{
    padding:15px;
      background-color:black;
      color:white;
      text-align:center;
      width:100%;
    }
    
    
    .nav-bar img{
        width:60px;
        margin-top:100px;
        cursor:pointer;
        height:40px;
    }
    
    #nav{
        display:block;
    }
    
    .header-img{
        background-size:100%;
        height:150px;
    }
    
    .header-cover{
        height:150px;
    }
    
    .header-cover p{
        margin-top:40px;
        font-size:0.8em;
    } 

    .books,.join{
        height:50px;
    }
    
    .books p a, .join p a{
        font-size:0.8em;
        padding:4px;
    }
    
    .aboutus-img{
        background-size:100%;
        height:200px;
    }
    
    .aboutus-header-txt{
        border-radius:50%;
        height:90px;
        margin-top:0px;
        margin-left:10px;
        padding:50px;
    }
    
    .aboutus-header-txt u{
        font-size:1.3em;
    }
    
    .aboutus-header-txt span{
        font-size:0.5em;
        text-align:center;
        margin-top:0px;
    }
    
    .about-us-text p{
        font-size:1em;
    }
    
    .container1{
        display:flex;
        flex-flow:row wrap;
    }
    
    .panel-01{
        height:950px;
    }
    
    .panel{
        flex-basis:100%;
        height:316px;
    }
    
    .panel p{
        height:160px;
        margin-left:auto;
        margin-right:auto;
    }

    .panel a{
        font-size:1em;
    }
    
    .res-small{
        display:none;
    }
    
    .resources1{
        flex-basis:100%;
        height:250px;
    }
    
    .resources1 p{
        margin-top:5px;
        font-size:1.2em;
    }

    .resources1 input{
        padding:10px;
        font-size:1em;
    }
    
    .footer{
        height:1000px;
    }
    
    .footer-01{
        flex-basis:100%;
        height:330px;
    }
    
    .footer-01 img{
        height:30px;
        width:10%;
    }
    
    .footer-01 p, .footer-01 span, .footer-about1{
        text-align:center;
    }
    
    .footer-01 input[type=text], .footer-01 input[type=submit]{
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
    
    .footer-01 input[type=submit]{
        margin-top:20px;
    }
    
    .footer1{
        height:200px;
    }
    
}

@media only screen and (min-width:375px) and (max-width:424px){
   div{
       border:0px solid black;
   }

   ul{
       display:none;
   }

   .nav-bar{
    position:relative;
    position:inline-block;
}

.nav-bar-dropdown {
    position:absolute;
    margin-top:205px;
    background-color:#fff6fc;
    width:96.5%;
    height:250px;
    z-index:1;
}

#dropdown{
    display:none;
}

.nav-bar-dropdown p {
  text-align:center;
}

.nav-bar-dropdown p a{
text-decoration:none;
color:black;
font-size:1.2em;
}

.nav-bar-dropdown p a:visited{
  color:black;
}

.nav-bar-dropdown p a:hover{
padding:15px;
  background-color:black;
  color:white;
  text-align:center;
  width:100%;
}


.nav-bar img{
    width:60px;
    margin-top:100px;
    cursor:pointer;
    height:50px;
}

#nav{
    display:block;
}

.header-img{
    background-size:100%;
    height:200px;
}

.header-cover{
    height:200px;
}

.header-cover p{
    margin-top:50px;
    font-size:1em;
} 

.books,.join{
    height:50px;
}

.books p a, .join p a{
    font-size:0.8em;
    padding:4px;
}

.aboutus-img{
    background-size:100%;
    height:200px;
}

.aboutus-header-txt{
    border-radius:50%;
    height:90px;
    margin-top:0px;
    margin-left:10px;
    padding:50px;
}

.aboutus-header-txt u{
    font-size:1.3em;
}

.aboutus-header-txt span{
    font-size:0.5em;
    text-align:center;
    margin-top:0px;
}

.about-us-text p{
    font-size:1em;
}

.container1{
    display:flex;
    flex-flow:row wrap;
}

.panel-01{
    height:950px;
}

.panel{
    flex-basis:100%;
    height:316px;
}

.panel p{
    height:180px;
    margin-left:auto;
    margin-right:auto;
}

.res-small{
    display:none;
}

.resources1{
    flex-basis:100%;
    height:250px;
}

.resources1 p{
    margin-top:10px;
    font-size:1em;
}

.resources1 input{
    padding:10px;
    font-size:0.7em;
}

.footer{
    height:1000px;
}

.footer-01{
    flex-basis:100%;
    height:333px;
}

.footer-01 img{
    height:30px;
    width:10%;
}

.footer-01 p, .footer-01 span, .footer-about1{
    text-align:center;
}

.footer-01 input[type=text], .footer-01 input[type=submit]{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.footer-01 input[type=submit]{
    margin-top:20px;
}

.footer1{
    height:200px;
}

}

@media only screen and (min-width:425px) and (max-width:599px) {
    div{
        border:0px solid black;
    }

   ul{
        display:none;
    }


    .nav-bar{
        position:relative;
        position:inline-block;
    }

    .nav-bar-dropdown {
        position:absolute;
        margin-top:205px;
        background-color:#fff6fc;
        width:96.5%;
        height:250px;
        z-index:1;
    }

    #dropdown{
        display:none;
    }

  .nav-bar-dropdown p {
      text-align:center;
  }

  .nav-bar-dropdown p a{
    text-decoration:none;
    color:black;
    font-size:1.5em;
  }

  .nav-bar-dropdown p a:visited{
      color:black;
  }

  .nav-bar-dropdown p a:hover{
    padding:15px;
      background-color:black;
      color:white;
      text-align:center;
      width:100%;
  }


 .nav-bar img{
        width:60px;
        margin-top:100px;
        cursor:pointer;
        height:50px;
    }

    #nav{
        display:block;
    }

    #cancel{
        display:none;
    }

    .header-img{
        background-size:100%;
        height:250px;
    }

    .header-cover{
        height:250px;
    }

    .header-cover p{
        margin-top:80px;
        font-size:2em;
    }

    .books,.join{
        height:100px;
    }

    .books p a, .join p a{
        font-size:1em;
        padding:5px;
    }

    .aboutus-img{
        background-size:100%;
        height:250px;
    }

    .aboutus-header-txt{
        border-radius:50%;
        height:100px;
        margin-left:10px;
        padding:70px;
        margin-top:0px;
    }

    .aboutus-header-txt u{
        font-size:1.5em;
    }

    .aboutus-header-txt span{
        font-size:0.6em;
        text-align:justify;
    }

    .about-us-text p{
        font-size:1.2em;
    }

    .container1{
        display:flex;
        flex-flow:row wrap;
    }

    .panel-01{
        height:950px;
    }

    .panel{
        flex-basis:100%;
        height:316px;
    }

    .panel p{
        height:180px;
        margin-left:auto;
        margin-right:auto;
    }

    .res-small{
        display:none;
    }

    .resources1{
        flex-basis:100%;
        height:300px;
    }

    .resources1 p{
        margin-top:40px;
        font-size:1.2em;
    }

    .resources1 input{
        padding:10px;
        font-size:1.2em;
    }

    .footer{
        height:860px;
    }

    .footer-01{
        flex-basis:100%;
        height:286px;
    }

    .footer-01 img{
        height:30px;
        width:10%;
    }

    .footer-01 p, .footer-01 span, .footer-about1{
        text-align:center;
    }

    .footer-01 input[type=text], .footer-01 input[type=submit]{
        display:block;
        margin-left:auto;
        margin-right:auto;
    }

    .footer-01 input[type=submit]{
        margin-top:20px;
    }

    .footer1{
        height:200px;
    }
}

@media only screen and (min-width:600px) and (max-width:767px){
   div{
       border:0px solid black;
   }

   ul{
       display:none;
   }



    .nav-bar{
        position:relative;
        position:inline-block;
    }

    .nav-bar-dropdown {
        position:absolute;
        margin-top:205px;
        background-color:#fff6fc;
        width:96.5%;
        height:250px;
        z-index:1;
    }

    #dropdown{
        display:none;
    }

    .nav-bar-dropdown p {
      text-align:center;
  }

    .nav-bar-dropdown p a{
    text-decoration:none;
    color:black;
    font-size:1.5em;
  }

    .nav-bar-dropdown p a:visited{
      color:black;
  }

    .nav-bar-dropdown p a:hover{
    padding:15px;
      background-color:black;
      color:white;
      text-align:center;
      width:100%;
  }

  .nav-bar img{
    width:60px;
    margin-top:100px;
    cursor:pointer;
    height:80px;
}

   #nav{
    display:block;
}

    .header-img{
    background-size:100%;
    height:350px;
}

.header-cover{
    height:350px;
}

.header-cover p{
    margin-top:120px;
    font-size:1.8em;
}

.books,.join{
    height:100px;
}

.books p a, .join p a{
    font-size:1em;
    padding:5px;
}

.aboutus-img{
    background-size:100%;
    height:300px;
}

.aboutus-header-txt{
    border-radius:50%;
    height:100px;
    margin-left:10px;
    padding:70px;
}

.aboutus-header-txt u{
    font-size:1.5em;
}

.aboutus-header-txt span{
    font-size:0.8em;
    text-align:justify;
}

.about-us-text p{
    font-size:1.4em;
}

.container1{
    display:flex;
    flex-flow:row wrap;
}

    .panel-01{
    height:950px;
}

    .panel{
    flex-basis:100%;
    height:316px;
}

    .panel p{
    height:200px;
    margin-left:auto;
    margin-right:auto;
}
    .res-round{
        width:80%;
        margin-left:20px;
    }

    .res-round-01{
        margin-left:40px;
        width:80%;
    }

    .resources1 input{
        font-size:1.2em;
        padding:10px;
    }

    .footer{
        height:960px;
    }

    .footer-01{
        flex-basis:100%;
        height:320px;
    }

    .footer-01 img{
        height:30px;
        width:10%;
    }

    .footer-01 p, .footer-01 span, .footer-about1{
        text-align:center;
    }

    .footer-01 input[type=text], .footer-01 input[type=submit]{
        display:block;
        margin-left:auto;
        margin-right:auto;
    }

    .footer-01 input[type=submit]{
        margin-top:20px;
    }

    .footer1{
        height:200px;
    }
}

@media only screen and (min-width: 768px) and (max-width:932px){

 div{
     border:0px solid black;
 }



 ul li:first-child{
     margin-left:140px;
 }

 ul li a {
     padding:5px;
 }
 .header-img{
     width:100%;
     height:450px;
 }

 .header-cover{
     height:450px;
 }

 .header-cover p{
     margin-top:180px;
 }

 .aboutus-header-txt{
     height:150px;

 }

 .aboutus-header-txt u{
     font-size:2em;
 }

 .aboutus-header-txt span{
     font-size:1em;
     text-align:center;
 }

 .about-us-text p{
     font-size:1.5em;
 }

 .panel a{
    font-size:0.8em;
}

 .footer-01 p{
     font-size:1em;
 }

 .footer-01 span{
     font-size:0.8em;
 }
 .footer-01 input[type=text]{
    width:50%;
 }

 .footer-about1{
     font-size:1em;
 }

 .footer-01 img{
     width:10%;
     height:30px;
 }

 .footer1{
     height:280px;
 }

}

@media only screen and (min-width:933px) and (max-width:1024px){
   ul li:first-child{
       margin-left:260px;
   }

   ul li a{
       padding:12px;
   }

   .panel a{
       font-size:1.2em;
   }
}

@media only screen and (min-width:1441px){

  div{
      margin:0 auto;
      max-width:2662px;
      border:0px solid black;
  }

  ul li:first-child{
      margin-left:24.5em; //Equivalent to 460px;
  }

 ul li:last-child {
    font-weight:bolder;
    padding:2.5em;

}

  ul li a{
      font-size:1.3em * 2;
      line-height:200px;
  }

  .nav-logo,.nav-bar{
      height:300px;
  }

  .header-img{
      background-size:100%;
      height:1000px;
  }

  .header-cover{
        height:1000px;
  }

  .header-cover p{
      font-size:3em * 2;
      margin-top:420px;
  }

  .books p a, .join p a{
      padding:0.7em;
      font-size:2em;
  }

  .aboutus-img{
      background-size:100%;
      height:950px;
  }

  .aboutus-header-txt{
      border-radius:80%;
      width:40%;
      height:50vh;
      padding:100px;
      margin-top:0;
  }

  .aboutus-header-txt u{
      font-size:2.5em *3;
  }

  .aboutus-header-txt span{
      font-size:1em * 2;
      text-align:center;
      margin-top:0;
    }

    .about-us-text{
        min-height:300px;
    }

    .about-us-text p{
        font-size:1.4em * 2;
    }

    .panel-01{
        height:40vh;
    }

    .panel{
        height:40vh;

    }

    .panel p{
        height:20vh;
        margin-left:auto;
        margin-right:auto;
        margin-top:80px;
    }

    .panel a{
        font-size:2em;
        display:block;
        margin-top:20px;
    }

    .resources1{
        height:60vh;
        
    }

    .res-round,.res-round-01{
        height:50vh;
    }

    .res-round img, .res-round-01 img{
        border:0px solid black;
        height:550px;
        margin-top:280px;
    }

    .res-round img {
        margin-left:120px;
    }

    .res-round-01 img {
        margin-left:0px;
    }

    .resources1 p{
        padding:7px;
        font-size:1.9em * 2;
        margin-top:130px;
    }

    .resources1 input{
        padding:40px;
        font-size:1.9em;
    }

    .footer-01{
        height:500px;
    }

    .footer-01 p{
        font-size:1.2em *2;
    }

    .footer-01 span{
        font-size:1em * 2;
    }

    .footer-01 input[type=text]{
        margin-left:80px;
    }

    .footer-about, .footer-about1{
        font-size:1em *2;
    }

    .footer1{
        height:650px;
    }

    .footer1 img{
        height:420px;
    }

    .footer1 p{
        font-size:1em *2;
    }
}


